<div class="full-page">
    <div class="container" *ngIf="person">
        <div class="row">
            <form (ngSubmit)="update()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="person.name" required>
                </div><br>
                <div class="form-group">
                    <label for="lastname">Apellido:</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="person.lastname"
                        required>
                </div><br>
                <div class="form-group">
                    <label for="title">Especialización:</label>
                    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="person.title" required>
                </div><br>
                <div class="d-flex justify-content-center">
                    <button class="btn p-btn m-4" type="button" routerLink="/">Cancelar</button>
                    <button class="btn p-btn m-4">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>