<div class="full-page">
    <div class="container" *ngIf="project">
        <div class="row">
            <form (ngSubmit)="update()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="name">Nombre del estudio:</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="project.name" required>
                </div><br>
                <div class="form-group">
                    <label for="description">Descripción:</label>
                    <textarea type="text" class="form-control" id="description" name="description"
                        [(ngModel)]="project.description" maxlength="90" required></textarea>
                </div><br>
                <div class="form-group">
                    <label for="duration">Duración (mes o meses y año):</label>
                    <input type="text" class="form-control" id="duration" name="duration" [(ngModel)]="project.duration"
                        maxlength="20" required>
                </div><br>
                <div class="form-group">
                    <label for="repo">Link repositorio:</label>
                    <input type="text" class="form-control" id="repo" name="repo" [(ngModel)]="project.repo" required>
                </div><br>
                <div class="form-group">
                    <label for="demo">Link demostración</label>
                    <input type="text" class="form-control" id="demo" name="demo" [(ngModel)]="project.demo" required>
                </div><br>
                <div class="form-group">
                    <label for="img">Imagen o logotipo:</label>
                    <input type="file" class="form-control" id="img" name="img" [(ngModel)]="project.image"
                        (change)="uploadImage($event)" accept=".jpg, .jpeg, .png, .svg">
                </div><br>
                <div class="image" class="d-flex justify-content-center">
                    <img [src]="selectedImage ? imageService.urlProj : project.image" width="200">
                </div><br>
                <div class="d-flex justify-content-center">
                    <button class="btn p-btn m-4" type="button" routerLink="/projects">Cancelar</button>
                    <button class="btn p-btn m-4">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>