<app-encabezado></app-encabezado>
<section class="home container-fluid content">
    <div class="contenedor">
        <div class="text-content">
            <div class="col-12">
                <h2 class="display-1" [@fadeInOut]>{{person.name}} {{person.lastname}}</h2>
            </div>
            <div class="title">
                <a [@fadeInOut]><img [src]="construirUrl(person.title)"></a>
                <span class="edit-icon">
                    <i *ngIf="isLogged" routerLink="/editProf/{{person.id}}" class="bi bi-pencil-square" href="#"></i>
                </span>
            </div>
        </div>
    </div>
</section>