@media (max-width: 600px){
    .container{
        text-align: center;
    }
}

@media (max-width: 600px){
    .h2-lines{
        left: 0rem;
    }
}

@media (max-width: 600px){
    .mobile{
        text-align: left;
    }
}