<app-encabezado></app-encabezado>
<div *ngIf="modalProjNew == true" [@expandCollapse]><app-new-proyecto></app-new-proyecto></div>
<div class="d-flex flex-column align-items-center mt-4">
    <span class="edit-icon">
        <i *ngIf="isLogged" (click)="toggleNewHab()" type="button" [class.bi-plus-circle]="!isIconChanged"
            [class.bi-x-circle]="isIconChanged"></i>
    </span>
</div>
<section id="projects">
    <div class="projects__container content">
        <div class="card" *ngFor="let projects of projects.slice().reverse()" [@zoomIn]>
            <img class="card__img" src="{{projects.image}}" alt="Portafolio">
            <div class="card__body">
                <h3>{{projects.name}}</h3>
                <p class="card-text">{{projects.description}}</p>
                <p class="mb-2">
                    <span class="fw-bolder">Año:</span> {{projects.duration}}
                </p>
                <div class="p-buttons">
                    <a class="p-btn btn" target="_blank" [href]="projects.repo">Repo</a>
                    <a class="p-btn btn" target="_blank" [href]="projects.demo">Demo</a>
                </div>
                <div class="p-buttons">
                    <span class="edit-icon">
                        <i *ngIf="isLogged" (click)="delete(projects.id)" class="bi bi-trash3"></i>
                    </span>
                    <span class="edit-icon">
                        <i *ngIf="isLogged" routerLink="/editProj/{{projects.id}}" class="bi bi-pencil-square"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>