.experience__container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 820px), 1fr));
    gap: 1.8rem;
    text-align: justify;
}