<div class="full-page">
    <div class="container" *ngIf="experiencia">
        <div class="row">
            <div>
                <form (ngSubmit)="Actualizar()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombre">Nombre de la empresa</label>
                        <input type="text" class="form-control" id="nombre" name="nombre"
                            [(ngModel)]="experiencia.nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion de la tarea:</label>
                        <textarea type="text" class="form-control" id="descripcion" name="descripcion"
                            [(ngModel)]="experiencia.descripcion" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="duracion">Duración:</label>
                        <input type="text" class="form-control" id="duracion" name="duracion"
                            [(ngModel)]="experiencia.duracion" required>
                    </div><br>
                    <div class="form-group">
                        <label for="duracion">Link de interés:</label>
                        <input type="text" class="form-control" id="info" name="info" [(ngModel)]="experiencia.info"
                            required>
                    </div><br>
                    <div class="form-group">
                        <label for="img">Imagen:</label>
                        <input type="file" class="form-control" id="img" name="img" [(ngModel)]="imagenUrl"
                            (change)="uploadImagen($event)" accept=".jpg, .jpeg, .png">
                    </div><br>
                    <div class="imagen" align="center">
                        <img [src]="imagenSeleccionada ? imagenService.urlExp : 'assets/upload.jpg'" width="200">
                    </div><br>
                    <div align="center">
                        <button class="btn btn-primary" style="margin-right: 10px;">Actualizar</button>
                        <button class="btn btn-danger" type="button" (click)="Cancel()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>