<div class="container-fluid">
    <div class="login d-flex align-items-center py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-7 mx-auto">
                    <h3 class="display-4">Bienvenido</h3>
                    <p class="text-muted mb-4">Ingrese las credenciales de acceso</p>
                    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                        <div class="form-group mb-3">
                            <input id="userName" type="email" name="userName"
                                class="form-control rounded-pill border-0 shadow-sm px-4" [(ngModel)]="userName"
                                required />
                            <label class="form-label" for="userName">Usuario</label>
                        </div>
                        <div class="form-group mb-3">
                            <input id="password" type="password" name="password"
                                class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"
                                [(ngModel)]="password" required />
                            <label class="form-label" for="password">Contraseña</label>
                        </div>
                        <button type="submit"
                            class="btn p-btn btn-block text-uppercase mb-2 rounded-pill shadow-sm">Iniciar
                            sesión</button>
                        <div class="text-center d-flex justify-content-between mt-4">
                            <p>¿Olvidaste tu contraseña? <a href="" class="font-italic text-muted">
                                    <u>Recuperar contraseña</u></a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>