<div class="container mt-4">
    <div class="row">
        <form (ngSubmit)="save()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="name">Nombre de la habilidad:</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="skill.name" required>
            </div><br>
            <div class="form-group">
                <label for="icon">Icono de la habilidad (solo extensiones de imagenes):</label>
                <input type="file" class="form-control" id="icon" name="icon" [(ngModel)]="skill.icon"
                    (change)="uploadImage($event)" accept=".jpg, .jpeg, .png, .svg">
            </div><br>
            <div class="d-flex justify-content-center">
                <img [src]="selectedImage ? imageService.urlSkill : 'assets/upload.jpg'" width="200">
            </div><br>
            <div class="d-flex justify-content-center">
                <button class="btn p-btn m-4">Confirmar</button>
            </div>
        </form>
    </div>
</div>