<!--Footer-->
<section id="footer" class="container-fluid pt-4">
    <ul class="list-unstyled d-flex flex-column flex-md-row justify-content-center align-items-center">
        <li class="mx-3 my-2">
            <a target="_blank" class="nav-link d-flex align-items-center"
                href="https://linkedin.com/in/lautaro-cabrera-fernandez/">
                <i class="bi bi-linkedin me-2"></i> LinkedIn
            </a>
        </li>
        <li class="mx-3 my-2">
            <a target="_blank" class="nav-link d-flex align-items-center" href="https://github.com/LautiCabrera">
                <i class="bi bi-github me-2"></i> GitHub
            </a>
        </li>
        <li class="mx-3 my-2">
            <a class="nav-link d-flex align-items-center" href="" (click)="copyEmail($event)">
                <i class="bi bi-envelope-fill me-2"></i> Email
            </a>
        </li>
    </ul>
    <div class="container py-4 text-center">
        <h5>© 2024 Lautaro Cabrera. Todos los derechos reservados.</h5>
    </div>
</section>